.heading {
    font-size: var(--fs-large);
    margin-bottom: var(--elem-spacing);
    font-weight: 600;
    max-width: unset;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: var(--inline-spacing);
    padding-block: var(--block-spacing);
    background-color: var(--clr-dark-gray);
}

.hero-text .hero-description {
    font-size: var(--fs-medium);
    line-height: 1.8;
}

.web-tech-section {
    padding-inline: var(--inline-spacing);
    padding-block: var(--block-spacing);
    background-color: var(--clr-light-gray);
}

.tech-cards-container {
    display: flex;
    justify-content: space-between;
}

.tech-card {
    background-color: var(--clr-dark-gray);
    width: 400px;
    height: 400px;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.tech-icon-container {
    display: flex;
    justify-content: center;
    background-color: var(--clr-primary);
    padding-block: 1.5rem;
}

.tech-description {
    font-size: var(--fs-normal);
    color: #ffffffcc;
    font-weight: 600;
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    text-align: justify;
}

.tech-link {
    background-color: var(--clr-primary);
    color: #fff;
    font-size: var(--fs-medium);
    padding: 8px 16px;
    border-radius: 5px;
    align-self: flex-end;
    margin-top: auto;
    margin-right: 1.5rem;
    transition: background-color 0.2s linear;
}

.tech-link:hover {
    background-color: #145f9c;
}
